Source: builder-design-pattern
Section: devel
Priority: optional
Maintainer: Your Name <your.email@example.com>
Build-Depends: debhelper (>= 11), cmake, g++
Standards-Version: 4.5.0

Package: builder-design-pattern
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Builder Design Pattern Example
